@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-xav74f');
	src:url('/fonts/icomoon.eot?#iefix-xav74f') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?-xav74f') format('truetype'),
		url('/fonts/icomoon.woff?-xav74f') format('woff'),
		url('/fonts/icomoon.svg?-xav74f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e600";
}
.icon-camera:before {
	content: "\e601";
}
.icon-headphones:before {
	content: "\e602";
}
.icon-music:before {
	content: "\e603";
}
.icon-pacman:before {
	content: "\e604";
}
.icon-stack:before {
	content: "\e605";
}
.icon-compass:before {
	content: "\e606";
}
.icon-keyboard:before {
	content: "\e607";
}
.icon-bug:before {
	content: "\e608";
}
.icon-rocket:before {
	content: "\e609";
}
.icon-star-full:before {
	content: "\e60a";
}
.icon-grin:before {
	content: "\e60b";
}
.icon-grin2:before {
	content: "\e60c";
}
.icon-cool:before {
	content: "\e60d";
}
.icon-cool2:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e60f";
}
.icon-checkmark:before {
	content: "\e610";
}
.icon-stop2:before {
	content: "\e611";
}
.icon-circle-right:before {
	content: "\e612";
}
.icon-checkbox-unchecked:before {
	content: "\e613";
}
.icon-radio-checked:before {
	content: "\e614";
}
.icon-radio-checked2:before {
	content: "\e615";
}
.icon-mail4:before {
	content: "\e616";
}
.icon-facebook2:before {
	content: "\e617";
}
.icon-instagram:before {
	content: "\e618";
}
.icon-twitter3:before {
	content: "\e619";
}
.icon-flickr3:before {
	content: "\e61a";
}
.icon-steam2:before {
	content: "\e61b";
}
.icon-github4:before {
	content: "\e61c";
}
.icon-soundcloud2:before {
	content: "\e61d";
}
.icon-linkedin:before {
	content: "\e61e";
}
.icon-lastfm2:before {
	content: "\e61f";
}
.icon-html52:before {
	content: "\e620";
}
.icon-git:before {
	content: "\e621";
}
.icon-svg:before {
	content: "\e622";
}
