/temp
/.idea
/gloo/node_modules
/gloo/.sass-cache
/gloo/temp
/release
/work/stage/__components/gloo-components
/gloo/bower_components
/work/stage/css
/work/stage/index.html
/work/stage/lib

/.lym
/icomoon
/node_modules
/bower_components
/dev/index.html
/dev/projects.html
/dev/lib
/dev/js
/dev/css
/dev/lym.html
