<html>
    <head>
        <link rel="stylesheet" href="css/lym.css" type="text/css">
        <title>{{#block "_title"}}{{/block}}</title>
    </head>
    <body>

        <div class="site-mainWrapper">
            {{>gloo-simpleHeader header}}
            <div class="site-hero">
                {{#block "_hero"}}{{/block}}
            </div>
            {{#block "_body"}}{{/block}}
        </div>

        {{>site-footer site-footer}}

        <script data-main="js/app" src="lib/require.js"></script>
    </body>
</html>