<html>
<head>
    <link rel="stylesheet" href="css/lym.css" type="text/css">
    <title>{{#block "_title"}}{{/block}}</title>
</head>
<body class="gloo-cover">
    {{#block "_body"}}{{/block}}
    <script data-main="js/app" src="lib/require.js"></script>
</body>
</html>