@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:900');

// rhythm
$gloo-verticalRhythm:gloo-utils-toEm(20px);
$gloo-grid-columnGutter: 2.2em;

// palette
$site-palette-hotLava:#9d0516;
$site-palette-coal:#0f0f0f;
$site-palette-vanilla:#E1C9C9;
$site-palette-beige:#5C5353;
$site-palette-white:#f7f7f7;
$site-palette-burgandy:#7F231B;


$gloo-responsive-smallScreen: 500px;

// simpleHeader
$gloo-simpleHeader-backgroundColor:$site-palette-hotLava;
$gloo-simpleHeader-textColor:$site-palette-white;
$gloo-simpleHeader-hoverColor:$site-palette-burgandy;

$small-range: (0, 30em) !default;



html {
  height:inherit; // forcibly remove 100% default, needed for full-height body layout
}

body {
  color:$site-palette-white;
  background-color:$site-palette-coal;
  height :inherit;
  padding: 0;
  margin: 0;
  letter-spacing: -0.04em;
  position: relative; // required by footer which has abs positioning
}

a{
  text-decoration: none;
  color:$site-palette-hotLava;
}

i {
  margin-right: 4px;
  top: 2px;
}

.site-mainWrapper {
  min-width: 100%;
  padding-bottom: 180px;
  @media #{$gloo-responsive-small}{
    padding-bottom: 100px;
  }
}

.site-code {
  background-color: $site-palette-white;
  color: $site-palette-hotLava;
  font-weight: bold;
  padding: 2px 8px 2px 8px;
  margin: 3px;
  border-radius: 2px;
}