{{#extend "minimal"}}
    {{#content "_title"}}Cover{{/content}}
    {{#content "_body"}}

        {{#extend "gloo-cover" cover}}
            {{#content "content"}}
                <h1>test!</h1>
            {{/content}}
        {{/extend}}

    {{/content}}
{{/extend}}