{{#extend "default"}}
    {{#content "_title"}}
        Lym
    {{/content}}
    {{#content "_hero"}}
        {{>gloo-imageOverlay heroes.lym}}
    {{/content}}
    {{#content "_body"}}

        <div class="row">
            <div class="columns small-12">
                <p>
                    Lym is a manager for static frontend modules. It uses <a href="http://handlebarsjs.com/">HandleBars</a> for markup, <a href="http://sass-lang.com/">Sass</a> for style and <a href="http://requirejs.org/">RequireJS</a> to load Javascript. It supports module self-configuration so you can use one
                    without having to look in its code.
                </p>

                <h2>Try it</h2>
                <p>
                    This site is built with Lym - you can build it locally to see how it works.
                </p>
                <p>
                    <ol>
                        <li>Install lym with <span class='site-code'>npm install -g lym</span> (requires NodeJs and Git)</li>
                        <li>Clone the source code from <a href='https://github.com/shukriadams/portfolio-site.git'>github</a></li>
                        <li>Open a console in the root of your cloned project.</li>
                        <li>Run <span class='site-code'>npm install</span></li>
                        <li>Run <span class='site-code'>node setup</span> to fetch the frontend modules for the site</li>
                        <li>Run <span class='site-code'>lym build</span> to compile the site.</li>
                        <li>Serve the contents of /dev with your webserver of choice</li>
                    </ol>
                </p>
                <p>
                     More detailed instructions are on <a href="https://github.com/shukriadams/lym">Github</a>.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="columns small-12">
                <h2>Project structure</h2>
                <p>
                    <ul>
                        <li>
                            The modules to build this site are placed in <strong>/dev/__components</strong>. 
                        </li>
                        <li>
                            Modules named <strong>gloo-*</strong> are reusable, and each is available
                            via Github, for example <a href="https://github.com/shukriadams/gloo-imageOverlay">gloo-imageOverlay</a>.    
                        </li>
                        <li>
                            The modules named <strong>site-gloo-*</strong> live in this
                            project only, and most customize corresponding <strong>gloo-*</strong> modules. You can organize your modules any way you want though.

                        </li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="columns small-12 medium-6">
                <h2>Why static?</h2>
                <p>
                Not all sites need to be "dynamic" - sometimes static is more than adequate to get the job done. 
                Static is perfect for smaller sites that don't feed off a live database backend. It's also perfect
                for creating prototypes, and for managing templated HTML which <i>could</i> be passed on to a 
                dynamic system like a CMS. 
                </p>
            </div>
            <div class="columns small-12 medium-6">
                <h2>Why modular?</h2>
                <p>
                    Resusing frontend code has always been tricky because of the difficulty defining the boundaries
                    of what to share. There are several methods out there, Lym takes a fairly simple approach by forcing
                    you to nest <i>everything</i> your module is, under a single folder, including how to fetch and build it. It supports intermodule dependency, Git-as-storage, semantic versioning, and automation.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="columns small-12 medium-6">
                <h2>Why these frameworks?</h2>
                <p>
                    Lym uses Handlebars, Sass and RequireJS because sometimes you need specifics to get something done. 
                    Lym could have used other frameworks, or could have tried 
                    to support every framework, but then it would probably never have been finished.
                </p>
            </div>
        </div>

    {{/content}}
{{/extend}}