{{#extend "default"}}
    {{#content "_hero"}}
        {{>gloo-imageOverlay heroes.index}}
    {{/content}}
    {{#content "_body"}}
        <div>
            Stay tuned.
        </div>
    {{/content}}
{{/extend}}