{{#extend "default"}}
    {{#content "_title"}}
        Projects
    {{/content}}
    {{#content "_hero"}}
        {{>gloo-imageOverlay heroes.projects}}
    {{/content}}
    {{#content "_body"}}

        <div class="row">
            <div class="columns small-12">
                <p>
                    Coming soon
                </p>
            </div>
        </div>

    {{/content}}
{{/extend}}