<div class="site-footer">
    <div class="site-footer-header">{{header}}</div>
    <div class="site-footer-links">
    {{#each items}}
        <div class="site-footer-link">

            <a href="{{href}}"><i class="{{icon}}"></i>{{text}}</a>
        </div>
    {{/each}}
    </div>
</div>